<form action="https://formspree.io/f/xnqweqel" method="POST">

<table>
  <tr>
    <td><label><strong>Name:<font color="red">*</font></strong></label></td>
    <td style="width:60%;"><input type="text" name="name" style="width:80%;" required></td>
  </tr>
  <tr>
    <td><label><strong>Company (if applicable):</strong></label></td>
    <td style="width:60%;"><input type="text" name="company" style="width:80%;"></td>
  </tr>
  <tr>
    <td><label><strong>Email address:<font color="red">*</font></strong></label></td>
    <td style="width:60%;"><input type="email" name="email" style="width:80%;" required></td>
  </tr>
  <tr>
    <td colspan="2"><label><strong>What sort of assistance are you looking for?<font color="red">*</font></strong></label><br/>
      <textarea name="message" rows="10" style="width:80%;" required></textarea>
    </td>
  </tr>
</table>
<button type="submit">Send message</button>
</form>
<br/>