<form action="https://formspree.io/f/mgeqwwng" method="POST">

<p><label><strong>What is your primary motivation for having a coaching session like this?<font color="red">*</font></strong></label><br/>
  <textarea name="motivation" rows="3" style="width:80%;" required></textarea></p>

<p><label><strong>How did it compare with, for example, a conversation with a workplace manager or mentor?<font color="red">*</font></strong></label><br/>
  <textarea name="comparison" rows="3" style="width:80%;" required></textarea></p>

<p><label><strong>Do you have any specific feedback for how Neil ran the session?</strong></label><br/>
  <textarea name="feedback" rows="10" style="width:80%;"></textarea></p>

<p><label for="sessionReport"><strong>How did you feel about the amount of content in your post-session report?<font color="red">*</font></strong></label><br/>
  <select name="sessionReport" id="sessionReport" required>
    <option value="" selected="" disabled="">Please select</option>
    <option value="TooMuch">Too detailed (summarise it more)</option>
    <option value="AboutRight">About right</option>
    <option value="GimmeMore">I'd like more detail</option>
</select></p>

<p><label for="sessionLength"><strong>What do you feel would be the optimal length for a typical session such as this?<font color="red">*</font></strong></label><br/>
      <select name="sessionLength" id="sessionLength" required>
        <option value="" selected="" disabled="">Please select</option>
        <option value="20min">20 minutes</option>
        <option value="30min">30 minutes</option>
        <option value="45min">45 minutes</option>
        <option value="60min">60 minutes</option>
        <option value="75min">More than 60 minutes</option>
</select></p>

<p><label for="sessionTimeslot"><strong>Typically, which of these would be the most convenient time to schedule a session for you?<font color="red">*</font></strong></label><br/>
  <select name="sessionTimeslot" id="sessionTimeslot" required>
    <option value="" selected="" disabled="">Please select</option>
    <option value="WeekDay">Weekdays - daytime</option>
    <option value="WeekNight">Weekdays - evening</option>
    <option value="WeekendDay">Weekends - daytime</option>
    <option value="WeekendNight">Weekends - evening</option>
</select></p>
      
<p><label for="sessionPrice"><strong>What would you typically expect to pay for a 45-minute session like this?<font color="red">*</font></strong></label><br/>
  <em>(Note that we are independently benchmarking/assessing our likely price structure - 
    this is just an extra datapoint to help us determine how realistic these figures might be)</em><br/>
    <select name="sessionPrice" id="sessionPrice" required>
      <option value="" selected="" disabled="">Please select</option>
      <option value="UpTo30">Up to £30</option>
      <option value="31to60">£31 - £60</option>
      <option value="61to90">£61 - £90</option>
      <option value="91to120">£91 - £120</option>
      <option value="121to150">£121 - £150</option>
      <option value="MoreThan150">More than £150</option>
  </select></p>

<p><label for="sessionFrequency"><strong>If you were having these sessions regularly, what sort of frequency would you likely opt for (bearing in mind cost)?<font color="red">*</font></strong></label><br/>
    <select name="sessionFrequency" id="sessionFrequency" required>
      <option value="" selected="" disabled="">Please select</option>
      <option value="Weekly">Weekly</option>
      <option value="Every2wks">Every 2 weeks</option>
      <option value="Monthly">Monthly</option>
      <option value="Every2mths">Every 2 months</option>
      <option value="EveryQuarter">Every quarter</option>
      <option value="AdHoc">Ad-hoc / less frequently</option>
  </select></p>

<button type="submit">Send feedback</button>
</form>
<br/>