---
---

@import "{{ site.theme }}";

header {
  padding: 10px;
}

@media print, screen and (max-width:580px) {
    header ul {
      display:block;
    }
  
    header p.view {
      display:block;
    }
  
    header p {
      width:100%;
    }
  }