---
layout: default
---

<h1 class="post-title">Blog Archive</h1>

<p>There are {{ paginator.total_posts }} articles on this site; you're currently viewing page {{ paginator.page }} of {{ paginator.total_pages }}. 
If you'd prefer, you can follow our content by subscribing to <a href="/feed.xml">our RSS feed</a> in a relevant reader.</h1></p>

<!-- This loops through the paginated posts -->
<div class="archive">
{% for post in paginator.posts %}
  <article class="article">
    <img src="{{ post.image }}" class="thumb" />
    <div><strong><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></strong><br/>
    {{ post.excerpt }}<br/><br/>
    </div>
  </article>
  {%- endfor -%}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <strong><a href="{{ paginator.previous_page_path }}" class="previous">👈 Previous Page</a></strong><br/>
  {% endif %}
  {% if paginator.next_page %}
    <strong><a href="{{ paginator.next_page_path }}" class="next">Next Page 👉</a></strong>
  {% endif %}
</div>
<br/>