<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta property="og:image" content="/assets/img/social_logo.png">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
        <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
            <h1><a href="{{ site.url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
            {% if site.description or site.github.project_tagline %}
              <p>{{ site.description | default: site.github.project_tagline }}</p>
            {% endif %}
            <ul>
              <li><a href="/contact">Get in <strong>Contact</strong></a></li>
            </ul>
          </header>
      <section>

      {{ content }}

      {% unless page.hide_contact_cta %}
        <div><strong>{{ site.contact_cta }}</strong></div>
      {% endunless %}
      </section>
    </div>
    <footer>
      <p>Site built and maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>