<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
  <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta property="og:image" content="/assets/img/social_logo.png">

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {% include head-custom.html %}
</head>

<body>
  <div class="wrapper">
    <header>
      {% if site.logo %}
        <a href="/"><img src="{{site.logo | relative_url}}" alt="{{site.title}} logo" /></a>
      {% endif %}

      <p>{{ site.description | default: site.github.project_tagline }}</p>

      <ul class="downloads">
        <li><a href="/about">Find out <strong>About Us</strong></a></li>
        <li><a href="/services">View our <strong>Services</strong></a></li>
        <li><a href="/contact">Get in <strong>Contact</strong></a></li>
      </ul>
    </header>
    <section>
    {{ content }}

    {% unless page.hide_contact_cta %}
      <div><strong>{{ site.contact_cta }}</strong></div>
    {% endunless %}
    </section>
    <footer>
      <p>
        <strong>Mojovation in numbers:</strong><br/>
        <a href="/blog/">{{ site.posts | size}} blog posts</a><br/>
        <a href="/books/">{{ site.tags.books | size}} book reviews</a><br/>
        <a href="https://ecologi.com/neilstudd" target="_blank">{{ site.data.ecologi.trees }} trees in our forest</a>
      </p>
      <p><small>Site {{ site.github.latest_release.tag_name }} built and maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a><br/>
      Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>



