---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% assign posts = site.posts %}
  
  {%- if posts.size > 0 -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%-d %B %Y" -%}
      {%- for post in posts -%}
      <li>
          {{ post.date | date: date_format }}: <strong><a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a> </strong>
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}
</div>