---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% assign posts = site.posts %}
  
  {%- if posts.size > 0 -%}
      {%- assign date_format = site.minima.date_format | default: "%-d-%b-%y" -%}
      {%- for post in posts -%}
          {{ post.date | date: date_format }}: <strong><a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a> </strong><br/>
      {%- endfor -%}

  {%- endif -%}
  <br/>
</div>