---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <p class="post-meta">
    {%- assign date_format = site.minima.date_format | default: "%-d %B %Y" -%}
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
    <img src="/assets/img/avatar.jpg"  style="border-radius: 50%; height: 30px; vertical-align: middle; width: auto; padding-right: 4pt;"/> Published by <a href="https://neilstudd.com" target="_blank"/>Neil Studd</a> on {{ page.date | date: date_format }}
    </time>
  </p>
  <h1>{{page.title}}</h1>
  {% if page.image %}
  <p><img src="/assets/img/{{ page.image }}" alt="Animated header GIF"/></p>
  {% endif %}
  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<div class="PageNavigation">
  {% if page.previous.url %}
  <p><strong>👈 Previous post: <a class="prev" href="{{page.previous.url}}">{{page.previous.title}}</a></strong></p>
  {% endif %}
  {% if page.next.url %}
    <p><strong>Next post: <a class="next" href="{{page.next.url}}">{{page.next.title}}</a> 👉</strong></p>
  {% endif %}
</div>